.supplier__name {
	margin: 0;
	margin-bottom: 17px;
	line-height: 20px;
	font-size: 15px;
	font-weight: 600;
}
.supplier__photo {
	margin-bottom: 34px;
	border-radius: 5px;
	box-shadow: 0px 2px 10px 0px #00000014;
	width: 336px;
	height: 295px;
	object-fit: cover;
	object-position: left top;
}
.supplier__btns {
	display: flex;
	justify-content: space-between;
	width: 336px;
}
.supplier__btn {
	box-sizing: border-box;
	display: block;
	border: 0.5px solid #043E44;
	border-radius: 5px;
	background-color: rgb(0, 0, 0, 0);
	cursor: pointer;
	width: 164px;
	height: 36px;
	line-height: 20px;
	color: #043E44;
	font-size: 15px;
	font-weight: 600;
}
@media (min-width: 1440px) {
	.supplier {
		padding-top: 7px;
	}
	.supplier__name {
		display: none;
	}
	.supplier__photo {
		margin-bottom: 25px;
		border-radius: 5px;
		box-shadow: 0px 2px 10px 0px #00000014;
		width: 376px;
		height: 267px;
		object-fit: cover;
		object-position: left top;
	}
	.supplier__btns {
		display: flex;
		justify-content: space-between;
		width: 376px;
	}
	.supplier__btn {
		border: 0.5px solid #444444;
		width: 184px;
		height: 40px;
		text-align: center;
		color: #043E44;
		font-size: 14px;
		font-weight: 500;
	}
}
